* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: wheat;
}

.dark {
  background-color: darkslategrey;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid whitesmoke;
}

.light {
  background-color: aqua;
  box-shadow: 0 4px 6px rgba(46, 0, 63, 0.4);
}


.darkBody {
  background-color: rgb(34, 32, 32);
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {

  .mynavbar {
    height: 20%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 1.1rem;
    gap: 1rem;
  }

  .bigBox {
    height: calc(100vh - 20vh);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .left-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;
  }

  .mid-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;

  }

  .right-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;

  }

  #nav-heading {
    font-size: 2.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .form-check-label {
    font-size: 0.70rem;
    font-weight: 600;
  }

  .country-heading {
    color: teal;
    font-size: 1.58rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .selection {

    padding: 0.2rem;
    font-size: 0.80rem;
    border-radius: 6px;
    border: 1px solid purple;
    background: transparent;
    color: teal;
  }

  .amount {
    padding: 0.2rem;
    font-size: 0.80rem;
    border-radius: 6px;
    border: 1px solid purple;
    background: transparent;
    color: teal;
  }

  .currency {
    font-size: 0.70rem;
    color: teal;
  }

  .country {
    font-size: 0.80rem;
    color: teal;
  }

  .flag-image {
    width: 3.2rem;
  }


  .exchange {
    font-size: 2.9rem;
    color: teal;
  }


}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .mynavbar {
    height: 30%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 2.2rem;
    gap: 2rem;
  }

  .bigBox {
    height: calc(100vh - 30vh);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .left-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;
  }

  .mid-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;

  }

  .right-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;

  }

  #nav-heading {
    font-size: 2.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .form-check-label {
    font-size: 0.70rem;
    font-weight: 600;
  }

  .country-heading {
    color: teal;
    font-size: 1.58rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .selection {

    padding: 0.2rem;
    font-size: 0.80rem;
    border-radius: 6px;
    border: 1px solid purple;
    background: transparent;
    color: teal;
  }

  .amount {
    padding: 0.2rem;
    font-size: 0.80rem;
    border-radius: 6px;
    border: 1px solid purple;
    background: transparent;
    color: teal;
  }

  .currency {
    font-size: 0.70rem;
    color: teal;
  }

  .country {
    font-size: 0.80rem;
    color: teal;
  }

  .flag-image {
    width: 3.2rem;
  }


  .exchange {
    font-size: 2.9rem;
    color: teal;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .mynavbar {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.2rem;
  }

  .bigBox {
    height: calc(100vh - 25vh);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .left-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;
  }

  .mid-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;

  }

  .right-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;

  }

  #nav-heading {
    font-size: 2.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .form-check-label {
    font-size: 1rem;
    font-weight: 600;
  }

  .country-heading {
    color: teal;
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .selection {

    padding: 0.2rem;
    font-size: 0.9rem;
    border-radius: 6px;
    border: 1px solid purple;
    background: transparent;
    color: teal;
  }

  .amount {
    padding: 0.2rem;
    font-size: 0.9rem;
    border-radius: 6px;
    border: 1px solid purple;
    background: transparent;
    color: teal;
  }

  .currency {
    font-size: 0.8rem;
    color: teal;
  }

  .country {
    font-size: 0.9rem;
    color: teal;
  }

  .flag-image {
    width: 3.8rem;
  }


  .exchange {
    font-size: 3.1rem;
    color: teal;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .mynavbar {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.2rem;
  }

  .bigBox {
    height: calc(100vh - 25vh);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .left-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;
  }

  .mid-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;

  }

  .right-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;

  }

  #nav-heading {
    font-size: 2.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .form-check-label {
    font-size: 1rem;
    font-weight: 600;
  }

  .country-heading {
    color: teal;
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .selection {

    padding: 0.2rem;
    font-size: 0.9rem;
    border-radius: 6px;
    border: 1px solid purple;
    background: transparent;
    color: teal;
  }

  .amount {
    padding: 0.2rem;
    font-size: 0.9rem;
    border-radius: 6px;
    border: 1px solid purple;
    background: transparent;
    color: teal;
  }

  .currency {
    font-size: 0.8rem;
    color: teal;
  }

  .country {
    font-size: 0.9rem;
    color: teal;
  }

  .flag-image {
    width: 3.8rem;
  }


  .exchange {
    font-size: 3.1rem;
    color: teal;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .mynavbar {
    /* width: 100%; */
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.2rem;
  }

  .bigBox {
    height: calc(100vh - 25vh);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .left-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;
  }

  .mid-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;

  }

  .right-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;

  }

  #nav-heading {
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .form-check-label {
    font-size: 1.05rem;
    font-weight: 600;
  }

  .country-heading {
    color: teal;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .selection {

    padding: 0.2rem;
    font-size: 1.1rem;
    border-radius: 6px;
    border: 1px solid purple;
    background: transparent;
    color: teal;
  }

  .amount {
    padding: 0.2rem;
    font-size: 1.1rem;
    border-radius: 6px;
    border: 1px solid purple;
    background: transparent;
    color: teal;
  }

  .currency {
    font-size: 1rem;
    color: teal;
  }

  .country {
    font-size: 1.1rem;
    color: teal;
  }

  .flag-image {
    width: 4rem;
  }


  .exchange {
    font-size: 3.5rem;
    color: teal;
  }
}

/* XXL devices (very large screens, 1400px and up) */
@media (min-width: 1400px) {

  .mynavbar {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.2rem;
  }

  .bigBox {
    height: calc(100vh - 25vh);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .left-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;
  }

  .mid-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;

  }

  .right-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    gap: 1rem;

  }

  #nav-heading {
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .form-check-label {
    font-size: 1.05rem;
    font-weight: 600;
  }

  .country-heading {
    color: teal;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .selection {

    padding: 0.2rem;
    font-size: 1.1rem;
    border-radius: 6px;
    border: 1px solid purple;
    background: transparent;
    color: teal;
  }

  .amount {
    padding: 0.2rem;
    font-size: 1.1rem;
    border-radius: 6px;
    border: 1px solid purple;
    background: transparent;
    color: teal;
  }

  .currency {
    font-size: 1rem;
    color: teal;
  }

  .country {
    font-size: 1.1rem;
    color: teal;
  }

  .flag-image {
    width: 4rem;
  }


  .exchange {
    font-size: 3.5rem;
    color: teal;
  }

}

.dark-mode-common-color {
  color: whitesmoke;
}

.light-mode-common-color {
  color: teal;
}

.dark-mode-common-border {
  border: 1px solid whitesmoke;
}

.light-mode-common-border {
  border: 1px solid teal;
}